body {
  background-color:lightgrey;
}

.centered {
  margin:0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%)
}

.dark-square {
  background-color: rgb(149, 69, 53);
}

.light-square {
  background-color: rgb(218, 160, 109);
}

.board {
  display:flex;
  flex-wrap: wrap;

  height: 40vw;
  width: 40vw;

  border: 1px solid black;

}

.board-row {
  display:flex;
  width:100%;
}

.square {
  color: white;
  border:1px solid black;
  flex:1
}
